.CGTable {
  flex: 1;
  display: flex;
  flex-direction: column;

  .CGTable-header {
    padding: 5px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--border);

    h2 {
      flex: 1;
      text-align: center;
    }
  }

  .CGTable-content {
    flex: 1;
    flex-basis: 0;
    overflow: auto;
  }

  .Preview-button {
    margin-right: 20px;
    &.selected {
      color: var(--title)
    }
  }

  .UpDown-button  {
    width: 60px;
  }
}
