@import '../../../styles/index';

.KeyView {
  flex: 0 0 calc(16.6% - 20px);
  margin: 5px 10px;
  display: flex;

  &.isPreview {
    button {
      background-color: var(--preview);
    }
  }

  &.isProgram {
    button {
      background-color: var(--program);
    }
  }

  .button-container {
    flex: 1;
    @include aspect-ratio(2, 1);

    .content {
      display: flex;

      button {
        flex: 1;
        margin-right: 0;
      }
    }
  }
}
