@import '../../../styles/index';

.ProgramLocal {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--border);
  padding: 0 30px;

  &.isProgram {
    border-color: var(--program);
  }

  .DisplayView-container {
    @include aspect-ratio(16, 9);
  }

  .toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
      margin: 5px 0;
      flex: 1;
      text-align: center;
    }
  }
}
