@import 'styles/app';
@import 'styles/themes';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

// reset antd
#root {
  .ant-form-item-label {
    label {
      color: var(--paragraph);
    }
  }
  .ant-select-selector {
    background-color: var(--background) !important;
    border: 1px solid var(--button) !important;
    color: var(--paragraph) !important;
  }
  .ant-checkbox, .ant-checkbox-wrapper {
    color: var(--paragraph);
  }
  .ant-divider-horizontal.ant-divider-with-text, .ant-divider-inner-text {
    color: var(--paragraph);
  }
}
